body {
    background-color: rgba(0, 0, 0, 0.829);
    color: rgba(230, 225, 225, 0.87);
}

h1{
    color: white;
}

ul{
    list-style-type: none;
    justify-content: center;
}

li{
    border-radius: 10px;
    padding: 10px;
}

b{
    font-size: 1.5rem;
}


@media (width < 560px) {
    body{
        padding:1px !important;
    }
    ul{
        justify-content: unset !important;
        width: 100% !important;
    }
}